@import "common/constants.css";

.header {
    height: var(--height-medium);
    margin-bottom: var(--margin-vertical);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}