img {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

img.white {
    fill: var(--day-white);
    /*background: var(--day-white);*/
}
img.black {
    fill: var(--day-black);
    /*background: var(--day-white);*/
}

img.blue {
    fill: var(--status-blue);
    /*background: var(--day-white);*/
}
img.green {
    fill: var(--status-green);
    /*background: var(--day-white);*/
}
img.orange {
    fill: var(--status-orange);
    /*background: var(--day-white);*/
}
img.red {
    fill: var(--status-red);
    /*background: var(--day-white);*/
}

img.input {
    margin-right: -24px;
    z-index: 1;
    margin-left: 8px;
}