button.change-status-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    color: var(--day-white);
    background: var(--status-blue);
    border-color: var(--status-blue);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 16px;
}