@import "../common/constants.css";

.table__wrapper {
    display: flex;
    flex-direction: column;

    border: var(--border-width) solid var(--middle-purple-color);
    box-sizing: border-box;

    flex-grow: 1;
}

.table__header {
    display: flex;
    flex-direction: column;

    background: var(--status-blue);
    /* header font color */
    color: var(--day-white);
    /* when selected */
    /* color: #FFFFFF; */
}

.table__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background: var(--day-white);
    /* row font color */
    color: var(--day-black);
}

.table__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    padding: 0 8px;

    border-bottom: 1px solid var(--day-white-blue);
}

.table__footer {
    height: var(--height-large);
    background: var(--middle-purple-color);
    align-self: stretch;
}

.table__cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 8px;
}

.table__cell:nth-child(1) {
    flex: 1;
}
.table__cell:nth-child(2), .table__cell:nth-child(5) {
    flex: 3;
}
.table__cell:nth-child(6) {
    flex: 5;
}
.table__cell:nth-child(3), .table__cell:nth-child(4) {
    flex: 6;
}
.table__cell:nth-child(7) {
    flex: 20;
}

.table__arrow {
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px;

    /* to_bot */
    width: 6px;
    height: 6px;

    background: var(--day-white-blue);
    /*transform: rotate(-180deg);*/
}