:root {
  --header-font-size: 26px;
  --height-medium: 32px;

  --status-red: #F53152;
  --status-orange: #FF8C56;
  --status-green: #0FB864;
  --status-blue: #459DF5;

  --day-black: #000000;
  --day-white: #FFFFFF;
  --day-light-blue: #BAD8F5;
  --day-white-blue: #EBF0F5;
  --day-shade: rgba(0, 0, 0, 0.15);
  --day-dropdown-shadow: 0 8px 24px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);

  --night-black: #BCC4CC;
  --night-white: #2B2D33;
  --night-light-blue: #454E52;
  --night-white-blue: #1F2629;
  --night-shade: rgba(0, 0, 0, 0.3);
  --night-dropdown-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.4);
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--day-white);
  /*box-shadow: 0 32px 128px rgba(0, 0, 0, 0.5), 0 16px 32px rgba(0, 0, 0, 0.34), 0 8px 8px rgba(0, 0, 0, 0.25);*/
}