:root {
    --light-purple-color: #A8A8FF;
    --middle-purple-color: #8055FF;

    --header-font-size: 26px;

    --height-medium: 32px;
    --height-large: 48px;

    --margin-vertical: 32px;
    --margin-horizonal: 48px;

    --padding-small: 8px;

    --border-width: 2px;

    --text-input-width: 256px;
}

.body {
    position: absolute;
    width: 100%;
    height: 100%;

    /* day/white */
    background: white;
    /*box-shadow: 0 32px 128px rgba(0, 0, 0, 0.5), 0 16px 32px rgba(0, 0, 0, 0.34), 0 8px 8px rgba(0, 0, 0, 0.25);*/
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--margin-vertical) var(--margin-horizonal) 0;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header {
    height: var(--height-medium);

    background: var(--light-purple-color);

    margin-bottom: var(--margin-vertical);
}

.header__text {
    height: var(--height-medium);

    /* headline */
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--header-font-size);
    line-height: var(--height-medium);
    /* identical to box height, or 123% */
    /*letter-spacing: -0.2px;*/

    color: var(--middle-purple-color);
}

.control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-small);

    border: var(--border-width) solid var(--light-purple-color);
    box-sizing: border-box;

    margin-bottom: var(--margin-vertical);
}

.control-panel__item-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.control-panel__extra-items {

}

.control-panel__text-input {
    width: var(--text-input-width);
    height: var(--height-medium);

    background: var(--middle-purple-color);

    margin-right: var(--padding-small);
}

.control-panel__item {
    width: var(--height-medium);
    height: var(--height-medium);

    background: var(--middle-purple-color);
}

.table__wrapper {
    display: flex;
    flex-direction: column;

    border: var(--border-width) solid var(--middle-purple-color);
    box-sizing: border-box;

    flex-grow: 1;
}

.table__header {
    height: var(--height-large);

    background: var(--middle-purple-color);
}

.table__body {
    background: var(--light-purple-color);

    flex-grow: 1;
}

.table__footer {
    height: var(--height-large);

    background: var(--middle-purple-color);

    align-self: stretch;
}